\rules only filteredtranscludeinline transcludeinline macrodef macrocallinline html
<pre>
.tc-titlebar h2 {
  font-size: 0.75em;
  font-weight: bold;
}

.tc-tiddler-frame {
  padding: 1em 1em 28px 42px;
  margin-bottom: 0;
}
</pre>